pandas
numpy
scikit-learn
sklearn
matplotlib
tqdm
datasets
transformers
accelerate
peft
trl
bitsandbytes
sentence-transformers
langchain
langchain-community
langchain-pinecone
pinecone
faiss-cpu
ragas
deepeval
streamlit
python-dotenv